@import "../../colors";

.modal-style{
    width:fit-content;
    max-width: 80vw;
    height: 100vh;
    margin:0 auto;
    margin-top: 2.5rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.overlay-style{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $main-white;
    z-index: 2;
}

.margin-bottom-h1{
    margin-bottom: 1rem;
}

#or-p{
    align-self: center;
    margin-bottom: 1rem;
}

.align-icon{
    margin-top: .5rem;
    align-self: center;
}

.btn-signup{
    width: 16rem;
}