.field-sign{
    display: flex;
    background-color: transparent;
    border-radius: 4px;
    margin-bottom: 1rem;
    width:16rem;
    color: #585858;
    box-shadow:inset 0px 0px 0px 2px #585858;
}

.grey-square{
    background-color: #585858;
    height: 2.5rem;
    width: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 4px 0 0 4px;   
}

.input-style{
    align-self: center;
    border: none;
    background-color: transparent;
    height: 100%;
    width:80%;
    padding-left: 1rem;

}