$main-white: #F6F6F6;
$grey-1: #484848;
$my-red:#dc5f5f;
$grey-2: #757575;
$dark-grey: #444444;
$main-blue: #111D4A;
$font-black1: #1D1D1D;
$purple: #4C3B4D;


.grey-2{
    color:$grey-2;
}

.dark-grey{
    color:$dark-grey;
}

.main-blue-bg{
    background-color: $main-blue;
}

.light{
    color: $main-white;
}

.font-dark1{
    color: $font-black1;
}

.purple{
    color: $purple;
}