@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './config';
@import './typography';
@import './colors';

$global-container: 80%;

@mixin btn-mix($bg-color, $color) {
    padding: 0.8rem 0.5rem 0.8rem;
    background-color: $bg-color;
    color: $color;
    border-radius: 2px;
};



body{
    background-color: $main-white;
    color: $grey-1;

    button{
        border:none;
        font-weight: bolder;
    }
}

.btn-pri{
    @include btn-mix($grey-1, $main-white);
}

.btn-pri-alt{
    @include btn-mix($main-white, $main-blue);
}

.btn-delete{
    @include btn-mix($my-red, $main-white);
}

.btn-sec{
    padding: 0.8rem 0.5rem 0.8rem;
    box-shadow:inset 0px 0px 0px 2px $grey-1;
}

.icon-small{
    color: #A3A3A3;
    height: 14px;
    width: auto;
}

.global-container{
    width: $global-container;
    margin:0 auto;
}

.container-card{
    width:100%;
    margin: 1rem auto 1rem;
}

.container-85{
    width:85%;
    margin: auto;
}

.post-img{
    border-radius: 5px;
    width:100%;
    height: auto;
}

.profile-img{
    height: 2rem;
    width: auto;
    border-radius: 100%;;

}

.flex-me{
    display: flex;
}


.div-info{
    display: flex;
    align-items:center;
    gap:0.3rem;
    width:100%
}

.text-align-center{
    text-align: center;
}

@media (min-width: 600px){
    .container-85{
        max-width: 30rem;
        margin: auto;
    }

}